:root {
    --text-color: #E9E6E7;
    --bg-color: #AB978C;
    --bg-color: white;
    --cell-bg-color: #565656;
}

.main-container {
    display: grid;
    grid-template: 10vh 5fr / 10vw 5fr;
    min-height: 95vh;
    background: linear-gradient(gray, transparent);
}

.app-title {
    font-size: xx-large;
    color: var(--text-color);
    filter: drop-shadow(2px 2px 2px black);
}

body {
    margin: 0;
}

.header-wrapper {
    padding: 10px 10px 10px 0;
    grid-column: 2 / 5;
}

.add-task-btn {
    background: var(--cell-bg-color);
    color: white;
    font-size: larger;
    border-radius: 5px;
    padding: 10px;
    outline-offset: 4px;
    filter: none;
    box-shadow: inset 1px 1px white;
}

.add-task-btn:active {
    filter: drop-shadow(2px 2px 2px white);
    box-shadow: none;
    transform: scale(.95);
    
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

.menu-title {
    color: var(--text-color);
}

.menu svg {
    fill: var(--text-color);
    width: 1.2em;
    vertical-align: bottom;
}

.menu:hover, .active {
    transform:scale(1.2);
    filter: drop-shadow(2px 2px 2px black);
    paint-order: stroke fill;
    -webkit-text-stroke: 1px #7f7b7f;
}

.sidebar-container {
    display: grid;
    grid-row: 1 / 3;
    justify-content: center;
    margin-top: 1.5em;
}

.sidebar-wrapper {
    padding: 10px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-list-table {
    height: fit-content;
    border-spacing: 0 1.5em;
    padding-right: 20px;
    width: 100%;
}

.hidden {
    display: none;
}

.empty-task-list-message {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    margin: 2rem auto;
    max-width: 80%;
}

.list-item-categories {
    text-align: left;
}

table tbody input[type="checkbox"] {
    width: 2em;
    height: 2em;
    margin-left: 1em;
    accent-color: white;
    cursor: pointer;
}

tbody {
    vertical-align: baseline;
    color: var(--text-color);
    filter: drop-shadow(2px 4px 0px black)
}

table thead {
    filter: drop-shadow(2px 4px 0px black);
}

table th {
    padding: 1em 0;
    color: var(--text-color);
    text-decoration: underline;
    text-underline-offset: 5px;
    font-weight: bold;
    background-color: var(--cell-bg-color);
}

table tbody tr td, table tr {
    padding: 1em 0;
    filter: drop-shadow(2px 2px 2px black);
}

table tr{
    font-size: x-large;
    font-weight: normal;
    background-color: var(--cell-bg-color);
    filter: drop-shadow(2px 4px 6px black);
    vertical-align: middle;
}

.task-options-wrapper {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.task-options-wrapper svg {
    width: 1.2em;
    fill: var(--text-color);
}

.task-option:hover {
    transform: scale(1.2);
    filter: drop-shadow(2px 2px 2px black);
    cursor: pointer;
} 

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}