.main-container {
    border: 1px solid red;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    min-height: 95vh;
}

.sidebar-container {
    display: grid;
    grid-row: 1 / 3;
}

.sidebar-wrapper {
    padding: 10px;
    border: 1px solid blue;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-wrapper {
    padding: 10px;
    grid-column: 2 / 5;
    border: 1px solid black;
}

.todo-list-container {
    padding: 10px;
    border: 1px solid green;
}

.todo-list-wrapper {
    display: grid;
    padding: 20px;
}

.list-item-categories {
    font-weight: bold;
    background-color: lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
}

.list-item-categories,
.todo-list-items {
    padding: 20px;
    display: grid;
    grid-template: 1fr / 50px repeat(7, 1fr);
}

.todo-list-items {
    border:1px solid black;
}

.task-options-wrapper {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}